
@{
    ViewBag.Title = "About";
}
@{ 
    Employee emp = new Employee();
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
<h3>@emp.EmpId</h3>
<h3>@emp.Name</h3>
<h3>@emp.Salary</h3>

<p>Use this area to provide additional information.</p>
